<div class="row">
  <div class="col-md-12">
    <h2>Equipment Rental Portal</h2>
    <div class="login-container">
      <div class="form-group">
        <label>Email</label>
        <input [(ngModel)]="email" type="text" placeholder="Enter email address here" class="form-control">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input [(ngModel)]="password" type="password" placeholder="Enter email address here" class="form-control">
      </div>
      <div *ngIf="isDisplayError" class="form-group alert alert-warning">
        <label class="">Incorrect email or password.</label>
      </div>
      <div>
        <button class="btn btn-primary" (click)="tryLogin()">Login</button>
      </div>
    </div>
  </div>
</div>